**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.pth
*.pkl
*.zip
*.bin
output/
version.py
*.whl
cumm/
build/
spconv_cu117-2.3.6-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
Anaconda3-2022.10-Linux-x86_64.sh
